@use "@/app/common" as *;

.nftItemPage {
  background-color: $custom-neutral-3;
  color: black;
  .nftItemPageContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 100px;
    max-width: 1350px;
    margin: 0 auto;
    // flex-wrap: wrap;
    // @media (max-width: 1024px) {
    //   flex-direction: column;
    // }
  }
}
