@use "@/app/common";

.nftBlock {
  padding: 64px 0;
  background-color: common.$custom-neutral-2;
  .nftBlockContainer {
    margin: 0 auto;
    max-width: 1200px;
    .nftNavigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nftNavigationMenu {
        .nftNavigationList {
          display: flex;
          column-gap: 65px;
          .nftNavigationItem {
            cursor: pointer;
            color: common.$custom-neutral-6;
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 10px;
          }
          .activeNavigationItem {
            cursor: pointer;
            color: common.$custom-neutral-8;
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-bottom: 2px solid common.$custom-pearl;
            padding-bottom: 30px;
          }
        }
      }
    }

    .nftItems {
      .nftItemsContainer {
        padding: 65px 0;
        display: flex;
        column-gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    .disabledLoadMore {
      display: none;
    }
    .activeLoadMore {
      border-radius: 12px;
      padding: 16px 32px;
      font-size: 16px;
      font-weight: bold;
      color: common.$custom-neutral-8;
      border: 2px solid rgba(127, 133, 150, 0.3);
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
  }
}
